
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>이때어때</title>

    <!--for SEO / <meta name="속성 값(description, keywords, author)" content="내용">-->

    <!--Open Graph-->
    <!--http://ogp.me/-->
    <meta property="og:type" cotent="website" />
    <meta property="og:site_name" content="이때어때" />
    <meta property="og:title" content="이때어때_한번에 끝내는 면접 시간 공유" />
    <meta property="og:description" content="이때어때는 면접관과 면접자의 시간 조율 편리성을 위해 만들어졌습니다." />
    <!-- <meta property="og:image" content="./images/이때어때_seo.jpg" />
    <meta property="og:url" content="https://~~.co.kr" /> -->

    <!--Twitter Card-->
    <!--https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started-->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="이때어때" />
    <meta property="twitter:title" content="이때어때_한번에 끝내는 면접 시간 공유" />
    <meta property="twitter:description" content="이때어때는 면접관과 면접자의 시간 조율 편리성을 위해 만들어졌습니다." />
    <!-- <meta property="twitter:image" content="./images/이때어때_seo.jpg" /> -->
    <!-- <meta property="twitter:url" content="https://~~.co.kr" /> -->

    <!--파비콘-->
    <!--<link rel="shortcut icon" href="favicon.ico" />-->
    <link rel="icon" href="./favicon.png" />
    <!--브라우저 스타일 초기화-->
    <!--이 부분은 reset.css로 복붙해서 폴더 내 css파일 추가해도 괜찮 / 작업 css 파일에 @import "reset.css" 필요할듯-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <!--Google Fonts - 나눔고딕-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
    <!--Google Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="stylesheet" href="./css/home.css" />
    <script defer src="./js/home/login.js"></script>
</head>

<body>
    <img id="banner" src="./images/banner.png" style="filter:brightness(80%); border-radius: 10px;"></img>
    <main>
        <div class="main-container">
            <div class="section">
                <h1 class="text"><span class="subject">이때어때</span><br>면접관과 면접자의 시간 조율 사이트</h1>
            </div>
            <div class="section">
                <h1 class="text">이떄어때 설명</h1>
            </div>
        </div>
    </main>
    <div class="event" style="text-align:center;">
        <button class="event_btn" onclick="document.querySelector('.login-container').style.display='flex';">이벤트 생성하기</button>
        <h1 class="text" id="event_text">이벤트 생성하기 버튼을 눌러주세요!</h1>
    </div>
    <!-- login screen(display:none) -->
    <div class="login-container">
        <div class="close">
            <button class="close_btn" onclick="document.querySelector('.login-container').style.display='none';">x</button>
        </div>

            <h1>login</h1>
            <input type="text" id="id" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <button id="loginBtn">login</button>

    </div>

</body>

</html>